In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

In [40]:
all_tinh = pd.read_csv('Bo_4T/tinh.csv',index_col = 'tinh')

In [41]:
def number_of_user(tinh,all_tinh):
    PATH = f"Bo_4T/tinh/{all_tinh.loc[tinh,'file_name']}.csv"
    df_tinh = pd.read_csv(PATH)
    df_tinh['id'] = df_tinh.iloc[:,11].apply(lambda x:x.split('/')[-1])
    data_of_user = []
    users = df_tinh['id'].unique()
    return len(users)

In [42]:
number_tinh = []
for i in range(len(all_tinh)):
    tinh = all_tinh.index[i]
    so_user = number_of_user(tinh,all_tinh)
    number_tinh.append(so_user)

/home/nghiaptit/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3473: DtypeWarning: Columns (0,7,8,9,13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [43]:
ketqua = []
for i in range(1,6):
    df = pd.read_csv(f'Bo_4T/result/ketqua{i}.csv',index_col='tinh')
    ketqua.append(df.values)
ketqua = np.array(ketqua)

In [44]:
ketqua.shape

(5, 61, 1142)

In [89]:
luotdecap = ketqua.sum(axis = 2)

In [90]:
results = (luotdecap/number_tinh).T

In [102]:
diem = np.linalg.norm(results,axis = 1)
diem_original = diem.copy()
max_diem = np.max(diem)
diem = diem/max_diem*100
diem = np.round(diem,0).astype(int)

In [103]:
df_result = pd.DataFrame(results, columns=['N1','N2','N3','N4','N5'])

In [104]:
df_result['tinh'] = all_tinh.index

In [105]:
df_result.set_index('tinh',inplace = True)

In [106]:
df_result['diem_norm_2'] = diem_original
df_result['diem_100'] = diem

In [107]:
df_result

,N1,N2,N3,N4,N5,diem_norm_2,diem_100
tinh,,,,,,,
AnGiang,6.064601,6.239399,5.986881,5.750390,6.364842,13.606264,78
BacGiang,6.051245,6.182147,5.904702,5.895952,6.264772,13.554026,78
BacKan,4.963473,5.118998,4.892488,4.770503,5.232024,11.176244,64
BacLieu,6.488329,6.718673,6.436579,6.244318,6.874693,14.660199,84
BacNinh,5.627779,5.749735,5.541252,5.497918,5.818548,12.630100,72
...,...,...,...,...,...,...,...
TraVinh,3.863603,4.024435,3.803428,3.688549,4.077316,8.707437,50
TuyenQuang,3.325499,3.419698,3.207797,3.211155,3.493378,7.453754,43
VinhLong,3.032944,3.162905,2.992477,2.819196,3.230869,6.822318,39
VinhPhuc,5.754957,5.920893,5.720518,5.646629,5.983511,12.984131,75
YenBai,4.537738,4.657394,4.480466,4.413377,4.729597,10.208033,59